{% extends 'layout.html' %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Ласкаво просимо!</h1>
        <p class="col-md-8 fs-4">Це демонстраційний веб-застосунок "Банківська справа", реалізований на Python (Flask) з використанням паттернів Repository та Unit of Work.</p>
        <a class="btn btn-primary btn-lg" href="/clients" role="button">Переглянути клієнтів &raquo;</a>
    </div>
</div>
{% endblock %}