{% extends 'layout.html' %}

{% block body %}
<h2>{{ title }}</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.first_name.label(class="form-label") }}
                {% set f_class = "form-control is-invalid" if form.first_name.errors else "form-control" %}
                {{ form.first_name(class=f_class) }}

                {% for error in form.first_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.last_name.label(class="form-label") }}
                {% set l_class = "form-control is-invalid" if form.last_name.errors else "form-control" %}
                {{ form.last_name(class=l_class) }}

                {% for error in form.last_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.tax_id.label(class="form-label") }}
                {% set t_class = "form-control is-invalid" if form.tax_id.errors else "form-control" %}
                {{ form.tax_id(class=t_class) }}

                {% for error in form.tax_id.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Створити</button>
                <a href="/clients" class="btn btn-outline-secondary">Назад до списку</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}